@import '../../styles/variables';

.link {
  color: $color-grey-primary;
  text-decoration: none;
  transform: translateX(0px);
  transition: all .2s;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  z-index: 8;

  &:hover {
    color: $color-blue-light;
    transform: translateX(4px);
  }
}