@import '../../styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 4rem 4rem;
   background: $color-grey-darkest;

   h1 {
     margin: 0;
   }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    display: block;
    color: $color-grey-darkest;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    background-color: $color-white;
    width: fit-content;
    padding: .5rem 2rem;
    border-radius: 2px;
    margin: 1rem auto;
    @media screen and (max-width: 465px) {
      font-size: 3.5rem;
    }
  }

  &__subtitle {
    display: block;
    color: $color-white-85;
    font-weight: 200;
    line-height: 1.5;
    max-width: 65rem;
    text-align: center;
    margin: 0 auto;
    @media screen and (max-width: 465px) {
      font-size: 1.5rem;
    }
  }

}